aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.12.0
async-timeout==4.0.3
attrs==23.1.0
bcrypt==4.0.1
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
comtypes==1.2.0
dnspython==2.3.0
email-validator==2.1.0.post1
eventlet==0.33.3
exceptiongroup==1.1.3
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-CKEditor==0.5.0
Flask-Ext==0.1
Flask-Login==0.6.2
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.1.1
frozenlist==1.4.0
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.7.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
multidict==6.0.4
mysqlclient==2.2.0
openai==0.28.1
packaging==23.1
Pillow==10.0.0
pluggy==1.3.0
PyAudio==0.2.13
pycparser==2.21
pypiwin32==223; platform_system == "Windows"
pytest==7.4.2
python-engineio==4.4.1
python-socketio==5.8.0
pyttsx3==2.90
pywin32==306; platform_system == "Windows"
requests==2.31.0
six==1.16.0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.17
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.6.3
urllib3==2.0.4
Werkzeug==2.3.7
Whoosh==2.6.0
WTForms==3.0.1
yarl==1.9.2
zipp==3.15.0
zope.event==5.0
zope.interface==6.0
