


aside{
    height: 100vh;
}

aside .aside-fixed{
    position: fixed; 
    max-width: 12rem;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    max-width: 2.8rem;
    max-height: 2.8rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}






aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}


aside .sidebar .user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    padding: 0 1rem;
}

aside .sidebar .user-profile .profile-img{
    overflow: hidden;
}

aside .sidebar .user-profile img{
    display: flex;
    justify-content: center;
    width: 10rem;
    clip-path: circle();
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

aside .sidebar .user-profile .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-dark)
}

aside .sidebar .user-profile .info p:first-child{
    text-align: center;
    color: var(--color-dark);
}

aside .sidebar .user-profile .info p b{
    color: var(--color-dark);
}


aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}


aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}


/* aside .sidebar a:active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-background);
    margin-left: 0;
}



aside .sidebar a:active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a:active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
} */

aside .sidebar a:hover{
    color: var(--color-primary);
    
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

















main {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

}

main .user-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    min-height: 6vh;
    width: 46rem;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;

}

/*  -webkit-user-select for Safari support */
.user-post {
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */
}

/*  -moz-fit-content for Firefox support */
.user-post {
    width: -moz-fit-content; /* Firefox */
    width: fit-content; /* Standard */
}


main .user-post:hover{
    box-shadow: none;
}



main .user-post .content{
    padding: 1rem;
}


main .user-post .setting-sec{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}








main .user-post .content .title{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}

main .user-post .content .title img{
    width: 3rem;
    clip-path: circle();
    border-radius: 50px;
}

main .user-post .content .title h3{
    margin-top: 0.5rem;
    font-weight: bolder;
}

main .user-post .content .title h3{
    margin-top: 0.5rem;


}
main .user-post .content .post-body{
    margin-top: 0.5rem;
    margin-left: 4rem;
    position: relative;
    align-items: center;
    
}

main .user-post .content .post-body .p-body{
    inline-size: 98%;
    overflow-wrap: break-word;
    color: var(--color-dark);
}



main .user-post .content .post-body img{
    margin-top: 1rem;
    width: 100%;
    max-height: 50rem;
    border-radius: 15px;
    border: 0.5px solid var(--color-light);
}

main .user-post .content .post-body .comment-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
}

main .user-post .content .post-body .comment-icon a{
    color: var(--color-info-dark);
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.5rem;
    font-size: x-small;
}

main .user-post .content .post-body .comment-icon a span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}







main .profile-sec{
    width: 46rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    margin-top: 1.6rem;
    transition: all 0.3s ease;
}

main .profile-sec:hover{
    box-shadow: none;
}

main .profile-sec .header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 12rem;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

main .profile-sec .header-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


main .profile-sec .profile-heading{
    display: grid;
    grid-template-columns: 12rem auto;
    max-width: 96%;
    margin: 0 auto;
    gap: 1rem;
    position: relative;
    top: -4rem;
    justify-items: center;
    align-items: center;
}

main .profile-sec .profile-heading .profile-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

main .profile-sec .profile-heading .profile-title .profile-img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: solid 0.5rem var(--color-white);
    overflow: hidden;
    transition: all 0.3s ease
}
main .profile-sec .profile-heading .profile-title .profile-img:hover{
    border: solid 0.1rem var(--color-white);
    scale: 1.7;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease
}

main .profile-sec .profile-heading .profile-title .profile-img img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease

}

main .profile-sec .profile-heading .profile-title .profile-img img:hover{
    scale: 1.15;
    transition: all 0.8s ease
}
main .profile-sec .profile-heading .profile-title .profile-img img:active{
    scale: 1.5;
    transition: all 0.3s ease
}

main .profile-sec .profile-heading .profile-title h3{
    color: var(--color-dark);
    font-weight:700;
}

main .profile-sec .profile-heading .profile-follow{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

main .profile-sec .profile-heading .profile-follow .right-sec{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}

main .profile-sec .profile-heading .profile-follow .right-sec p{
    color: var(--color-dark);
}


main .profile-sec .profile-detail{
    width: 100%;
}

main .profile-sec .profile-heading .profile-about{
    margin-top: 1rem;
    font-size: .8rem;
    width: 90%;
    font-weight: 500;
}

main .profile-sec .profile-heading .profile-about p{
    color: var(--color-dark);
}

main .profile-sec .profile-heading .profile-location{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content:space-between;
    width: 90%;
}

main .profile-sec .profile-heading .profile-location p{
    font-size: smaller;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 50%;
    inline-size: 98%;
    overflow-wrap: break-word;
    color: var(--color-info-dark);
}


main .profile-sec .profile-heading .profile-location p span{
    font-size:medium ;
}

main .profile-sec .profile-heading .profile-location p a{
    color: var(--color-info-dark);
    inline-size: 98%;
    overflow-wrap: break-word;
}









main .comment-posting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 12vh;
    width: 46rem;
    

    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;

}

main .comment-posting .comment-textArea {
    margin-left: 1rem;
    padding: 1rem;
}




main .comment-h3{
    padding: 1rem;

}


main .comment-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 8vh;
    width: 44rem;
    background-color: var(--color-white);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    position: relative;
    left: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

main .comment-sec:hover{
    box-shadow: none;
}






main .comment-sec  .title{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    gap: 1rem;
}


main .comment-sec .title img{
    width: 2.5rem;
    clip-path: circle();
    border-radius: 50px;
}

main .comment-sec  .title-body h3{
    color:var(--color-dark-variant);
    font-weight: bolder;
}




main .comment-sec .comment-body{
    inline-size: 80%;
    overflow-wrap: break-word;
    padding-left: 4.5rem;
}

main .comment-sec .comment-body p{
    color: var(--color-dark);
}



main .comment-sec .comment-detail{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 4rem;
    padding: 1rem;
    margin-top: 0.8rem;
    font-size: 0.7rem;
    color:var(--color-info-dark);
}

main .comment-sec .comment-detail a{
    display: flex;
    flex-direction: row;
    color: var(--color-info-dark);
    align-items: center;
}

main .comment-sec a span{
    font-size: 1.0rem;
}

main .comment-sec a:hover{
    color: var(--color-danger);
}









































.right-section{
    height: 100vh;
}


.right-section .fix-right{
    position: fixed;
    width: 22rem;    
}

.right-section .fix-right .right-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.8rem;
    top: 4rem;
    height: 88vh;

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    border-radius: 15px;
    position: relative;

    transition: all 0.3s ease;
}

.right-section .right-content:hover{
    box-shadow: none;
}




.right-section .analysis{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    background-color: var(--color-background);
    padding: 0.5rem;
    border-radius: 10px;
}

.right-section .analysis div{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    transition: all 0.3s ease;
}

.right-section .analysis div:active{
    scale: 1.02;
    margin-bottom: .5rem;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow);
}

.right-section .analysis div h3{
    font-size: larger;
    font-weight: bold;
}

.right-section .analysis div p{
    font-size: smaller;
    font-weight: 500;
}


