body {
    background-color: #323232;
    color: azure;
}

div p img {
    border-radius: 50%;
    height: 50px;
}

.comment-img {
    border-radius: 50%;
    height: 30px;
}

a {
    text-decoration: none;
    color: beige;
}

.main-div{
    display: grid;
    justify-content: center;

}

