@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body{
    background-color:whitesmoke;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
 
    overflow-x: hidden;
    color: rgb(51, 51, 51);
}

a {
    color: #1d1d1d;
}

a:hover {
    color: #4d4d4d;
}




.textArea{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 96%;
    min-height: 8rem;
    resize: none;
    border-radius: 8px;
    border: 1px solid #cbcbcb;
}

.formField{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 2rem;
    border-radius: 2px;
    margin: 1rem 0;
    border: 0.5px solid #d6d6d6;
    border-radius: 5px;
}

.btn-form{
    background-color: #5697ff;
    color: #e7e7e7;
    font-size: 1rem;
    font-weight: 700;
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 0.5px solid #97daf7;
    box-shadow: 2px 1px 2px #a4bfff00;
}

.btn-form:hover{
    background-color: rgb(14, 140, 208);
}


.btn-follow{
    background-color: #1c8dde;
    color: #e7e7e7;
    font-size: 1rem;
    font-weight: 700;
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 0.5px solid #838383;
    box-shadow: 2px 1px 2px #a4bfff00;
}

.btn-follow:hover{
    background-color: rgb(15, 85, 216);
}


.post-btn{
    background-color: #5dbbff;
    border-radius: 25px;
    width: 7rem;
}

.post-btn span{
    color: #fff;
}

.post-btn h3{
    color: #fff;
}

.post-btn:hover{
    background-color: #1c8dde;
}







.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}


aside{
    height: 100vh;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    max-width: 2.8rem;
    max-height: 2.8rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}











aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    height: 88vh;

    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}





aside .sidebar .user-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    padding: 0 1rem;
}



aside .sidebar .user-profile .profile-img{

    overflow: hidden;
}



aside .sidebar .user-profile img{
    display: flex;
    justify-content: center;
    width: 6rem;
    clip-path: circle();
    margin-bottom: 0.8rem;
    border-radius: 50%;
}


aside .sidebar .user-profile .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

aside .sidebar .user-profile .info p:first-child{
    text-align: center;
}







aside .sidebar a{
    display: flex;
    align-items: center;
    color: dimgray;
    height: 3.7rem;
    gap: 1rem;

    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}


aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}



















main {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

main .user-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    min-height: 12vh;
    width: 46rem;
    

    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;

}

main .user-post .content{
    padding: 1rem;
}







main .user-post .content .title{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}

main .user-post .content .title img{
    width: 3rem;
    clip-path: circle();
    border-radius: 50px;
}

main .user-post .content .title h3{
    margin-top: 0.5rem;
}

main .user-post .content .title h3{
    margin-top: 0.5rem;


}
main .user-post .content .post-body{
    margin-top: 0.5rem;
    margin-left: 4rem;
    position: relative;
    align-items: center;
}

main .user-post .content .post-body .p-body{
    inline-size: 98%;
    overflow-wrap: break-word;
}



main .user-post .content .post-body img{
    margin-top: 1rem;
    width: 100%;
    max-height: 50rem;
    border-radius: 10px;
    color: darkgray;
}

main .user-post .content .post-body .comment-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
}

main .user-post .content .post-body .comment-icon a{
    color: darkgray;
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.5rem;
    font-size: x-small;
}

main .user-post .content .post-body .comment-icon a span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
















main .profile-sec{
    display: flex;
    flex-direction: row;
    width: 46rem;
    background-color: white;
    border-radius: 15px;
    margin-top: 1.5rem;
}


main .profile-sec .profile-heading{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
    position: relative;
}

main .profile-sec .profile-heading .profile-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

main .profile-sec .profile-heading .profile-title .profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 12rem;
    width: 12rem;
    clip-path: circle();
    overflow: hidden;
}

main .profile-sec .profile-heading .profile-title .profile-img img{


}

main .profile-sec .profile-heading .profile-detail{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

main .profile-sec .profile-heading .profile-about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 0;

}


main .profile-sec .profile-heading .profile-about .profile-follow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:space-evenly;
}
























main .comment-posting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 12vh;
    width: 46rem;
    

    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;

}

main .comment-posting .comment-textArea {
    margin-left: 1rem;
    padding: 1rem;

}




main .comment-h3{
    padding: 1rem;

}


main .comment-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 8vh;
    width: 44rem;
    background-color: #fcfcfc;

    position: relative;
    left: 1.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}






main .comment-sec  .title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

main .comment-sec .title .title-profile{

    
}

main .comment-sec .title img{
    width: 2.5rem;
    clip-path: circle();
    border-radius: 50px;
}

main .comment-sec .title h3{


}

main .comment-sec .title .comment-body{
    inline-size: 80%;
    overflow-wrap: break-word;

}



main .comment-sec .comment-detail{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 1rem;
    padding: 1rem;
    margin-top: 0.7rem;
    font-size: 0.7rem;
    color:#838383;
}

main .comment-sec .comment-detail a{
    display: flex;
    flex-direction: row;
    color: #838383;
    align-items: center;
}

main .comment-sec .comment-detail a span{
    font-size: 1.5rem;
}

main .comment-sec .comment-detail a:hover{
    color: #c22323;
}









@media screen and (max-width: 1200px){

    .container{
        width: 95%;
        grid-template-columns: 6rem auto 6rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .toggle .logo img{
        margin-left: 2rem;
    }


    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .user-post{
        max-width: 40rem;
    }

    main .comment-posting {
        max-width: 40rem;
    }


    aside .sidebar .user-profile img{
        width: 4rem;
    }
    
    
    aside .sidebar .user-profile .info p:last-child{
        display: none
    
    }

    main .profile-sec{
        width: 40rem;

    }

    main .comment-sec{
        width: 36rem;
    }

    
    .post-btn{

        background-color:transparent;
        width: fit-content;
    }

    .post-btn span{
        color: #5dbbff;
    }

    .post-btn:hover{
        background-color: transparent;
    }


}


@media screen and (max-width: 768px){


    .container{
        width: 98%;
        margin: 0 auto;
        gap: 1rem;
        grid-template-columns: 6rem auto 26rem;
    }

    main .user-post{
        max-width: 76vw;
    }

    main .comment-posting {
        max-width: 76vw;
    }


    aside .sidebar .user-profile img{
        width: 3rem;
    }
    
    
    aside .sidebar .user-profile .info{
        display: none
    
    }



    main .profile-sec{
        display: flex;
        flex-direction: column;
        width: 76vw;
    }

    main .profile-sec .profile-heading{
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 0 auto;
        position: relative;
    }


    main .comment-sec{
        width: 70vw;
    }


}


















/* -- Like Class ♥ */
.heart-emoji {
    font-size: 24px;}
.red-heart {
    color: red;}
.empty-heart {
    color:darkgray;}
/* -- End of Like Class ♥ */