<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowNexus</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo/favicon.ico')}}">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/root.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/aside.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/right-section.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/btn.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/inputFile.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tablet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/phone.css')}}">
    



</head>
<body>
    <div class="container">


        <!-- Sidebar Section -->

        <aside>
            <div class="aside-fixed">
            <div class="toggle">
                <div class="logo">
                    <img src="{{url_for('static', filename='images/logo/crow-nav-logo.png')}}">
                    <h2>CrowNexus</h2>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>

            </div>


            <div class="sidebar">
                

                {% if not logged_in: %}

                <a href="{{ url_for('all') }}">
                    <span class="material-icons-sharp">
                        travel_explore
                    </span>
                    <h3>Explore</h3>
                </a>

                <a href="{{ url_for('about') }}">
                    <span class="material-icons-sharp">
                        contact_support
                    </span>
                    <h3>About</h3>
                </a>

                <a href="#" id="dark-mode-toggle">
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                    <h3>Theme</h3>
                </a>


                <a href="{{ url_for('login') }}">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>Login</h3>
                </a>

              

               
                <a href="{{ url_for('register') }}">
                    <span class="material-icons-sharp">
                        app_registration
                    </span>
                    <h3>Register</h3>
                </a>


                {% else %}

                <div class="user-profile">


                    <div class="profile-img">
                        {% if current_user.profile_picture %}
                        <img src="{{ url_for('static', filename='profile_pictures/' + current_user.profile_picture) }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
                        {% endif %}
                    </div>
                    
                    <div class="profile-name">
                        <div class="info">
                            <p>Hey, <b>{{current_user.username}}</b></p>
                            {% if current_user.birthday %}
                            <p style="font-size: smaller;"> <span class="material-icons-sharp" style="font-size: small;">cake</span> {{ current_user.birthday.strftime('%B %d, %Y') }}</p>
                            {% endif %}
                        </div>

                    </div>
                </div>


                <a href="{{ url_for('home_page') }}">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    <h3>Home</h3>
                </a>


                <a href="{{ url_for('all') }}">
                    <span class="material-icons-sharp">
                        travel_explore
                    </span>
                    <h3>Explore</h3>
                </a>


                <a href="{{ url_for('user_profile', user_id=current_user.id) }}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profile</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        notifications
                    </span>
                    <h3>Alert</h3>
                </a>

                <a href="{{ url_for('setting') }}">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Setting</h3>
                </a>
     
                <a class="post-btn" href="{{ url_for('new_post') }}">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Post</h3>
                </a>

                <a href="#" id="dark-mode-toggle">
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                    <h3>Theme</h3>
                </a>

                <a href="{{ url_for('logout') }}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>

                {% endif %}


            </div>
            </div>
        </aside>


        <!-- End SideBar Section -->


        <main>
        {% block content %}
        {% endblock %}
        </main>

        <div class="right-section">
            <div class="fix-right">
                <div class="right-content">
                    <!-- search ...................................................... -->
                    <form action="{{url_for('search')}}" method="GET" class="search-form">
                        <input type="text" name="query" placeholder="  Search for posts and users...">
                        <button type="submit"><span class="material-icons-sharp">search</span></button>
                    </form>
                    

                    {% if logged_in %}
                    <h3><span class="material-icons-sharp">insights</span>Profile Analysis</h3>
                    <div class="analysis">
                        <div><h3 id="total-posts">Loading...</h3><p>Total posts</p></div>
                        <div><h3 id="total-comments">Loading...</h3><p>Total comments</p></div>
                        <div><h3 id="total-posts-impressions">Loading...</h3><p>Total posts impressions</p></div>
                        <div><h3 id="total-comments-impressions">Loading...</h3><p>Total comments impressions</p></div>
                        <!-- <div><h3></h3><p>Profile impressions</p></div> -->
                    </div>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda modi ex sit ut placeat dolor consectetur ducimus dolorum laborum itaque quisquam quia eos dolore temporibus, odit possimus. Vero, expedita dolores!</p>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
            
        

    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- Custom Script -->
    <script src="{{url_for('static', filename='script/theme.js')}}"></script>
    <script src="{{url_for('static', filename='script/index.js')}}"></script>
    <script src="{{url_for('static', filename='script/like.js')}}"></script>

    <script src="{{url_for('static', filename='script/post_impression.js')}}"></script>
    <script src="{{url_for('static', filename='script/comment_impression.js')}}"></script>
    <script src="{{url_for('static', filename='script/profile_impression.js')}}"></script>

    <script src="{{url_for('static', filename='script/registerFile.js')}}"></script>
    <script src="{{url_for('static', filename='script/postFile.js')}}"></script>
    <script src="{{url_for('static', filename='script/editFile.js')}}"></script>
    <script src="{{url_for('static', filename='script/headerFile.js')}}"></script>
    <script src="{{url_for('static', filename='script/customInput.js')}}"></script>
</body>
</html>