<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowNexus</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo/favicon.ico')}}">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">


        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{url_for('static', filename='images/logo/crow-nav-logo.png')}}">
                    <h2>CrowNexus</h2>
                </div>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>

            </div>


            <div class="sidebar">
                

                {% if not logged_in: %}

                <a href="{{ url_for('home') }}">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    <h3>Home</h3>
                </a>

                <a href="{{ url_for('about') }}">
                    <span class="material-icons-sharp">
                        contact_support
                    </span>
                    <h3>About</h3>
                </a>

                <a href="{{ url_for('login') }}">
                    <span class="material-icons-sharp">
                        login
                    </span>
                    <h3>Login</h3>
                </a>

               
                <a href="{{ url_for('register') }}">
                    <span class="material-icons-sharp">
                        app_registration
                    </span>
                    <h3>Register</h3>
                </a>


                {% else %}

                <div class="user-profile">

                    <div class="profile-img">
                        <img src="{{ url_for('static', filename='profile_pictures/' + current_user.profile_picture) }}">
                    </div>
                    
                    <div class="profile-name">
                        <div class="info">
                            <p>Hey, <b>{{current_user.username}}</b></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
                        </div>

                    </div>
                </div>


                <a href="{{ url_for('home') }}">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    <h3>Home</h3>
                </a>

                <a href="{{ url_for('user_profile', user_id=current_user.id) }}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profile</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        notifications
                    </span>
                    <h3>Alert</h3>
                </a>
     
                <a class="post-btn" href="{{ url_for('new_post') }}">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Post</h3>
                </a>
                <a href="{{ url_for('logout') }}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>

                {% endif %}


            </div>
        </aside>
        <!-- End SideBar Section -->






        <div class="main-div">
            <main>
            {% block content %}
            {% endblock %}
            </main>
        </div>



    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- Custom Script -->
    <script src="{{url_for('static', filename='script/index.js')}}"></script>
</body>
</html>