{% extends 'base.html' %}
{% block content %}

<h1>Edit post</h1>
<div class="user-post main-bg-color">
<div class="content">
    <div class="setting-sec">
        <h2><a href="{{url_for('home')}}"><button class="btn-back-setting"><span class="material-icons-sharp">arrow_back_ios</span></button></a></h2>
    </div>

<p>Max 280 Char</p>
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.body }} <br>
    <p>Image</p>
    {{ form.post_picture }} <br> <br>
    {{ form.submit }}
</form>

</div>
</div>

{% endblock %}



