{% extends 'base.html' %}
{% block content %}

<h1>Edit Header Picture</h1>
<div class="user-post main-bg-color">
<div class="content">
    <div class="setting-sec">
        <h2><a href="{{url_for('setting')}}"><button class="btn-back-setting"><span class="material-icons-sharp">arrow_back_ios</span></button></a></h2>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if current_user.birthday %}
        <p>{{ current_user.birthday.strftime(' Birthday: %B %d, %Y') }}</p>
        {% endif %}
        <input type="date" name="birthday" class="date-input" placeholder=" Birthday">
       <br> <br>
        {{ form.submit }}


    </form>
    
</div>
</div>

{% endblock %}