{% extends 'base.html' %}
{% block content %}

<p>All Posts</p>
<hr><br>

{% for post in posts %}
<div>
    <a href="{{ url_for('user_posts', user_id=post.user.id) }}">
        <p> 
        
            <span>
            {% if post.user.profile_picture %}
                <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}" alt="Profile Picture">
            {% else %}
             <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}" alt="Profile Picture">
            {% endif %}
        </span>
        <strong> {{ post.user.username }}</strong>
       
        </p>
    </a>
    <br>
    <p>{{ post.body }}</p>
    <p style="font-weight:lighter">



        <!-- Like ♥ -->
        <p>
        <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
            <span class="likes-wrapper">
            {% if post.likes == 1 %}
                <span class="heart-emoji red-heart">♥</span>
            {% else %}
                <span class="heart-emoji empty-heart">♥</span>
            {% endif %}
            <span class="likes-count">{{ post.likes }}</span>
            </span>
        </a>
        </p> 
        <!-- End of Like ♥ -->
               
        • 



        {{ post.created_at.strftime('%B %Y') }} 
        <a href="{{ url_for('show_post', post_id=post.id) }}">• Comments</a>
        <br>
        
    </p>
    
    
    <br><hr>
</div>
{% endfor %}


{% endblock %}

