{% extends 'base.html' %}
{% block content %}



    <h1>Login</h1>
    <div class="user-post main-bg-color">
        <div class="content">

    
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>  
            {% endfor %}
            {% else %}
                <a style="color:rgb(218, 47, 87); font-weight:500; text-decoration:underline;" href="{{url_for('register')}}">Don't have an account? Signup!</a>
            {% endif %}
            
            {% endwith %}
        </p>

        <form method="POST" action="{{url_for('login')}}">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.password }}
            {{ form.submit }}
        </form>



        </div>  
    </div>


{% endblock %}