{% extends 'base.html' %}
{% block content %}



    <h1>Register Page</h1>
    <div class="user-post main-bg-color">
        <div class="content">

            <div class="register-sec">
                
     

                <form method="POST" action="{{url_for('register')}}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }} 
                    {{ form.profile_picture }} 
                    {{ form.username }} 
                    {{ form.email }} 
                    {{ form.phone_number }} 
                    {{ form.password }} 
                    {{ form.submit }}
                </form>

            </div>

        </div>
    </div>




{% endblock %}