{% extends 'base.html' %}
{% block content %}


<h1>Post by ID</h1>
<div class="user-post">
  <div class="content">

    <!-- Post Profile Picture + UserName -->
    <div class="title">
        {% if post.user.profile_picture %}
        <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
        {% endif %}

        <a href="{{ url_for('user_profile', user_id=post.user.id) }}">
          <h3>{{ post.user.username }}</h3>
        </a>
    </div>



    <!-- Post Body Content -->
    <div class="post-body">
      <p>{{ post.body }}</p>

      <!-- if post images:
      <img src="image/postimage.jpg"> -->



      {% if logged_in %}
      <div class="comment-icon">
        <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
            <span class="likes-wrapper">
                {% if post.likes == 1 %}
                    <span class="heart-emoji red-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% else %}
                    <span class="heart-emoji empty-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% endif %}
            <span class="likes-count">{{ post.likes }}</span>
            </span>
        </a>

        <a href="{{ url_for('show_post', post_id=post.id) }}">
            <span class="material-icons-sharp">
                chat_bubble_outline
            </span>
            <p>63</p>
        </a>

        <a href="#">
            <span class="material-icons-sharp">
                more_horiz
                </span>
            <p>{{ post.created_at.strftime('%B %Y') }} </p>
        </a>
        
      </div>
      {% endif %}
    </div>
      

  </div>
</div>



<!-- Commenting Section  -->
  {% if logged_in %}
  <div class="comment-posting">
    <div class="comment-textArea">
      <form action="{{url_for('show_post', post_id=post.id)}}" method="post">
        {{ form.csrf_token }}
        {{ form.comment }}
        {{ form.submit }}
        </form>
    </div>
  </div>
  {% endif %}
  <!-- end commenting section -->
        





  <!-- Display existing comments -->


  {% if post.comments %}


  <h3 class="comment-h3">Comments:</h3>


  {% for comment in post.comments %}
  <div class="comment-sec">

      <div class="title">
        <div class="title-profile">
          {% if comment.user.profile_picture %}
          <img src="{{ url_for('static', filename='profile_pictures/' + comment.user.profile_picture) }}">
          {% else %}
          <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
          {% endif %}
      </div>

        <div class="comment-body">
          <a href="{{ url_for('user_profile', user_id=post.user.id) }}">
            <h3>{{ comment.user.username }}</h3>
          </a>
          <p>{{ comment.content }}</p>
        </div>

      </div>

      <a href="{{url_for('delete_comment', comment_id=comment.id , post_id=comment.post.id)}}">
        <span class="material-icons-sharp">
            delete
            </span>
        <p>delete </p>
    </a>
     

  </div>
  {% endfor %}
  

  {% else %}
      <h3 class="comment-h3">No comments!</h3>
  {% endif %}    

{% endblock %}



<!-- 
<script>
    function likePost(postId) {
      fetch(`/post/${postId}/like`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token() }}'  // Assuming you're using CSRF protection
        },
      })
      .then(response => {
        if (response.ok) {
          // Handle successful response, e.g., display a success message
          console.log('Post liked successfully');
        } else {
          // Handle error response, e.g., display an error message
          console.error('Failed to like the post');
        }
      })
      .catch(error => {
        // Handle error, e.g., display an error message
        console.error('An error occurred:', error);
      });
    }
  </script> -->