{% extends 'base.html' %}
{% block content %}

<p>Post Page by ID</p>

<p> 
        
    <span>
    {% if post.user.profile_picture %}
        <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}" alt="Profile Picture">
    {% else %}
     <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}" alt="Profile Picture">
    {% endif %}
    </span>
    <strong> {{ post.user.username }}</strong>
</p>

<br>

<p>{{ post.body }}</p>
 <p style="font-weight:lighter">
    ♡  {{ post.likes }} • 
    {{ post.created_at.strftime('%B %Y') }} 
    <br>
</p>



{% if logged_in %}
 <!-- Comment Section  -->
<form action="{{url_for('show_post', post_id=post.id)}}" method="post">
{{ form.csrf_token }}
{{ form.comment }}
{{ form.submit }}
</form>
{% endif %}


 <!-- Display existing comments -->
 <h3>Comments</h3>
 {% for comment in post.comments %}
 <span>
    {% if comment.user.profile_picture %}
        <img class="comment-img" src="{{ url_for('static', filename='profile_pictures/' + comment.user.profile_picture) }}" alt="Profile Picture">
    {% else %}
     <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}" alt="Profile Picture">
    {% endif %}
    {{comment.user.username }}
    </span>
    
     <p>{{ comment.content }}</p>
     <br> <hr>
     
     <!-- Display other comment information -->
 {% endfor %}


{% endblock %}