{% extends 'base.html' %}
{% block content %}


<h1>Post by ID</h1>
<div class="user-post" data-post-id="{{ post.id }}">
  <div class="content">

    <!-- Post Profile Picture + UserName -->
    <div class="title">
        {% if post.user.profile_picture %}
        <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
        {% endif %}

        <a href="{{ url_for('user_profile', user_id=post.user.id) }}">
          <h3>{{ post.user.username }}</h3>
          <p style="font-size: xx-small; font-weight: 500; color: var(--color-dark)">@{{ post.user.unique_id }}</p>
        </a>
    </div>



    <!-- Post Body Content -->
    <div class="post-body">
      <p class="p-body">{{ post.body|replace('\n', '<br>')|safe }}</p>

      {% if post.post_picture %}
        <img src="{{ url_for('static', filename='post_pictures/' + post.post_picture) }}">
      {% endif %} 



      {% if logged_in and current_user == post.user %}
      <div class="comment-icon">
        <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
            <span class="likes-wrapper">
                {% if post.likes == 1 %}
                    <span class="heart-emoji red-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% else %}
                    <span class="heart-emoji empty-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% endif %}
            <span class="likes-count">{{ post.likes }}</span>
            </span>
        </a>

      <a href="{{ url_for('show_post', post_id=post.id) }}">
        <span class="material-icons-sharp">
            chat_bubble_outline
        </span>
        <p>{{ post.comments|length }}</p>
      </a>


      <a href="{{ url_for('show_post', post_id=post.id) }}">
        <span class="material-icons-sharp">
            equalizer
        </span>
        <p class="impression-count">{{ post.post_impressions }} </p>
      </a>

      <a href="{{url_for('edit_post', post_id=post.id)}}">
          <span class="material-icons-sharp">
              edit_note
              </span>
          <p>Edit</p>
      </a>

      <a href="{{url_for('delete_post', post_id=post.id)}}">
          <span class="material-icons-sharp">
              delete
              </span>
          <p>delete </p>
      </a>
      </div>
      {% elif logged_in %}
      <div class="comment-icon">
        <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
            <span class="likes-wrapper">
                {% if post.likes == 1 %}
                    <span class="heart-emoji red-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% else %}
                    <span class="heart-emoji empty-heart"><span class="material-icons-sharp">
                        favorite_border
                    </span></span>
                {% endif %}
            <span class="likes-count">{{ post.likes }}</span>
            </span>
        </a>

        <a href="#">
            <span class="material-icons-sharp" onclick="return false;">
                chat_bubble_outline
            </span>
            <p>{{ post.comments|length }}</p>
        </a>

        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <span class="material-icons-sharp">
              equalizer
          </span>
          <p class="impression-count">{{ post.post_impressions }} </p>
        </a>

        <a href="#" onclick="return false;">
            <p>{{ post.created_at.strftime('%H:%M · %B %Y') }} </p>
        </a>
        
      </div>
      {% endif %}
    </div>
      

  </div>
</div>



<!-- Commenting Section  -->
  {% if logged_in %}
  <div class="comment-posting">
    <div class="comment-textArea">
      <form action="{{url_for('show_post', post_id=post.id)}}" method="post">
        {{ form.csrf_token }}
        {{ form.comment }}
        {{ form.submit }}
        </form>
    </div>
  </div>
  {% endif %}
  <!-- end commenting section -->
        





  <!-- Display existing comments -->


  {% if comments %}


  <h3 class="comment-h3">Comments:</h3>


  {% for comment in comments %}
  <div class="comment-sec" data-comment-id="{{ comment.id }}">

      <div class="title">
        <div>
          {% if comment.user.profile_picture %}
          <img src="{{ url_for('static', filename='profile_pictures/' + comment.user.profile_picture) }}">
          {% else %}
          <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
          {% endif %}
        </div>
        <div class="title-body">
          <a href="{{ url_for('user_profile', user_id=comment.user.id) }}">
            <h3>{{ comment.user.username }} <span style="font-size: xx-small; font-weight: 500; color: var(--color-dark)">@{{ comment.user.unique_id }}</span></h3>
          </a>
        </div>
      </div>

      <div class="comment-body">
        <p>{{ comment.content | safe }}</p>
      </div>


      <!-- comment details: Like & time stamp section -->

      <div class="comment-detail">
        {% if logged_in and current_user.id == comment.user.id %}
          <a href="{{url_for('delete_comment', comment_id=comment.id , post_id=comment.post.id)}}">
            <span class="material-icons-sharp">
              clear
            </span>
            Delete
          </a>
        {% endif %}

        <a href="#">
          <span class="material-icons-sharp">
              equalizer
          </span>
          <p class="comment-impression-count">&nbsp;{{ comment.comment_impressions }}</p>
        </a>

        <a href="#">
          <p>{{ comment.timestamp.strftime('%H:%M · %D') }} </p>
        </a>
      </div>


      <!-- end comment Time Stamp and Delete  -->
      

  </div>
  {% endfor %}
  

  {% else %}
      <h3 class="comment-h3">No comments!</h3>
  {% endif %}    

{% endblock %}

