{% extends 'base.html' %}
{% block content %}

<!-- Other User's Profile -->

<h1>{{ user.username }}'s Profile</h1>



<div class="profile-sec" data-user-id="{{ user.id }}">
    <!-- PROFILE HEADER Image -->
    <div class="header-img">
        {% if user.header_picture %}
        <img src="{{ url_for('static', filename='header_pictures/' + user.header_picture) }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
        {% endif %}
    </div>
   
    <div class="profile-heading">
         <!-- PROFILE Image & Username -->
        <div class="profile-title">
            <div class="profile-img">
                {% if user.profile_picture %}
                <img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
                {% endif %}
            </div>
            
            <h3>{{ user.username }}</h3>
        </div>
        <!-- Profile | User Details -->
        <div class="profile-follow">
            <div class="right-sec">
                <p><strong id="followersCount">{{ followers|length }}</strong> Followers</p>
                <p><strong>{{ followed|length }}</strong> Following</p>
                <p><strong>{{ current_user.posts|length }}</strong> Posts</p>

                <!-- EDIT PROFILE BTN if current USER-->
                
                {% if current_user == user %}
                <div>
                    <a href="{{url_for('edit_profile')}}"><button class="btn-follow">Edit profile</button></a>
                </div>
                {% endif %}
                <!-- Follow/unfollow BTN if not current USER-->
                {% if current_user != user %}
                <form id="followForm" action="{{ url_for('toggle_follow', user_id=user.id) }}" method="POST">
                    <button class="btn-follow" type="submit">
                        {% if current_user.is_following(user) %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </form>
                {% endif %}
                
                <!-- End follow btn & edit profile -->

            </div>
            <div class="profile-detail">
                <div class="profile-about">             
                    {% if user.bio %}
                    <p>{{ user.bio }}</p>
                    {% else  %}
                    <p>&nbsp;</p>
                    {% endif %} 
                </div>
                <div class="profile-location">
                    <p><span class="material-icons-sharp">date_range</span>&nbsp;Joined {{ user.created_at.strftime('%B %Y') }}</p>
                    {% if user.location %}
                    <p><span class="material-icons-sharp">room</span>&nbsp;{{ user.location }}</p>
                    {% else  %}
                    <p><span class="material-icons-sharp">room</span> &nbsp; </p>
                    {% endif %} 
                </div>
                <div class="profile-location">
                    <p class="profile-impression-count"><span class="material-icons-sharp">equalizer</span> &nbsp; <span class="count-value" style="font-size: 0.7rem;">{{ user.profile_impressions }}</span> </p>
                </div>
                <div class="profile-location">
                    {% if user.bio_url %}
                    <p><span class="material-icons-sharp">insert_link</span> <a href="{{ user.bio_url }}" target="_blank" >&nbsp; {{ user.bio_url }}</a></p>
                    {% else  %}
                    <p><span class="material-icons-sharp">insert_link</span> &nbsp; </p>
                    {% endif %} 
                </div>
             
            </div>
                      
        </div>
        <!-- END FOLLOW -->  
    </div>



                   
</div>



<!-- SHOWE POSTs -->

            {% for post in posts %}
            <div class="user-post" data-post-id="{{ post.id }}">
                <div class="content">

                
                    <div class="title">
                        {% if post.user.profile_picture %}
                        <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
                        {% endif %}

                        <a href="#" onclick="return false;">
                        <h3>{{ post.user.username }}</h3>
                        <p style="font-size: xx-small; color: dimgray;">{{ post.created_at.strftime('%H:%M · %B %Y') }} </p>
                        </a>
                        
                    </div>
                    



                    <div class="post-body">
                        <p class="p-body">{{ post.body|replace('\n', '<br>')|safe }}</p>

                        {% if post.post_picture %}
                            <img src="{{ url_for('static', filename='post_pictures/' + post.post_picture) }}">
                        {% endif %} 
                        


                        <div class="comment-icon">


                            <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
                                <span class="likes-wrapper">
                                    {% if post.likes == 1 %}
                                        <span class="heart-emoji red-heart"><span class="material-icons-sharp">
                                            favorite
                                        </span></span>
                                    {% else %}
                                        <span class="heart-emoji empty-heart"><span class="material-icons-sharp">
                                            favorite_border
                                        </span></span>
                                    {% endif %}
                                <span class="likes-count">{{ post.likes }}</span>
                                </span>
                            </a>



                            {% if current_user != user %}
                            
                            <a href="{{ url_for('show_post', post_id=post.id) }}">
                                <span class="material-icons-sharp">
                                    chat_bubble_outline
                                </span>
                                <p>{{ post.comments|length }}</p>
                            </a>


                            <a href="{{ url_for('show_post', post_id=post.id) }}">
                                <span class="material-icons-sharp">
                                    equalizer
                                </span>
                                <p class="impression-count">{{ post.post_impressions }} </p>
                            </a>

                            <a href="#">
                                <span class="material-icons-sharp">
                                    more_horiz
                                    </span>
                                <p>{{ post.created_at.strftime('%B %Y') }} </p>
                            </a>

                            {% else %}

                            <a href="{{ url_for('show_post', post_id=post.id) }}">
                                <span class="material-icons-sharp">
                                    chat_bubble_outline
                                </span>
                                <p>{{ post.comments|length }}</p>
                            </a>

                            <a href="{{ url_for('show_post', post_id=post.id) }}">
                                <span class="material-icons-sharp">
                                    equalizer
                                </span>
                                <p class="impression-count">{{ post.post_impressions }} </p>
                            </a>


                            <a href="{{url_for('edit_post', post_id=post.id)}}">
                                <span class="material-icons-sharp">
                                    edit_note
                                    </span>
                                <p>Edit</p>
                            </a>

                            <a href="{{url_for('delete_post', post_id=post.id)}}">
                                <span class="material-icons-sharp">
                                    delete
                                    </span>
                                <p>delete </p>
                            </a>

                            {% endif %}
                            
                        </div>
                    </div>
                </div>

            </div>
{% endfor %}

{% endblock %}