{% extends 'base.html' %}
{% block content %}

<h1>Edit Profile</h1>
<div class="user-post main-bg-color">
<div class="content">
    <div class="setting-sec">
        <h2><a href="{{url_for('setting')}}"><button class="btn-back-setting"><span class="material-icons-sharp">arrow_back_ios</span></button></a></h2>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.username }}
        {{ form.bio }}
        {{ form.location }}
        {{ form.submit }}


    </form>
    
</div>
</div>

{% endblock %}



