{% extends 'base.html' %}
{% block content %}

<h1>Edit Header Picture</h1>
<div class="user-post main-bg-color">
<div class="content">
    <div class="setting-sec">
        <h2><a href="{{url_for('setting')}}"><button class="btn-back-setting"><span class="material-icons-sharp">arrow_back_ios</span></button></a></h2>
    </div>

    {% if current_user.header_picture %}
    <div class="setting-header">
        <img src="{{ url_for('static', filename='header_pictures/' + current_user.header_picture) }}">
    </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="custom-input">
            {{ form.header_picture(id="HeaderFile", class="custom-image-input")  }}
            <label for="HeaderFile" class="custom-image-label"><span class="material-icons-sharp">panorama</span>Upload photo...</label>
        </div>
        {% if form.header_picture.errors %}
        <ul class="errors">
            {% for error in form.header_picture.errors %}
                <li style="color: var(--color-danger);">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
         <br>
        {{ form.submit }}


    </form>
    
</div>
</div>

{% endblock %}