{% extends 'base.html' %}
{% block content %}

<h1>Edit post</h1>
<div class="user-post main-bg-color">
<div class="content">
    <div class="setting-sec">
        <h2><a href="{{url_for('user_profile', user_id=current_user.id)}}"><button class="btn-back-setting"><span class="material-icons-round">arrow_back_ios</span></button></a></h2>
    </div>

<p>Max 280 Char</p>
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.body }} <br>
    <div class="custom-input">
        {{ form.post_picture(id="editImage", class="custom-image-input")  }}
        <label for="editImage" class="custom-image-label"><span class="material-icons-round">portrait</span>Add/Change picture...</label>
    </div>
    {% if form.post_picture.errors %}
    <ul class="errors">
        {% for error in form.post_picture.errors %}
            <li style="color: var(--color-danger);">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    {{ form.submit }}
</form>

</div>
</div>

{% endblock %}



