{% extends 'base.html' %}
{% block content %}


<!-- Main content Section -->
<h1>Home</h1>
{% if posts %}
{% for post in posts %}
<div class="user-post" data-post-id="{{ post.id }}">
<div class="content" >

    <div class="title">
        {% if post.user.profile_picture %}
        <img src="{{ url_for('static', filename='profile_pictures/' + post.user.profile_picture) }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/blank-profile-pic.png') }}">
        {% endif %}

        <a href="{{ url_for('user_profile', user_id=post.user.id) }}">
        <h3>{{ post.user.username }}</h3>
        <p>@{{ post.user.unique_id }}</p>
        </a>
    </div>
    

    <div class="post-body">
        <p class="p-body">{{ post.body|replace('\n', '<br>')|safe }}</p>
        {% if post.post_picture %}
            <img src="{{ url_for('static', filename='post_pictures/' + post.post_picture) }}">
        {% endif %}    

        <div class="comment-icon">
            <a href="#" class="like-button" data-post-id="{{ post.id }}" {% if current_user and post in current_user.liked_posts %}class="liked"{% endif %} onclick="likePost(event, this); return false;">
                <span class="likes-wrapper">
                    {% if post.likes == 1 %}
                        <span class="heart-emoji red-heart"><span class="material-icons-round">
                            favorite
                        </span></span>
                    {% else %}
                        <span class="heart-emoji empty-heart"><span class="material-icons-round">
                            favorite_border
                        </span></span>
                    {% endif %}
                <span class="likes-count">{{ post.likes }}</span>
                </span>
            </a>
            <a href="{{ url_for('show_post', post_id=post.id) }}">
                <span class="material-icons-round">
                    chat_bubble_outline
                </span>
                <p>{{ post.comments|length }} </p>
            </a>
            <a href="{{ url_for('show_post', post_id=post.id) }}">
                <span class="material-icons-round">
                    equalizer
                </span>
                <p class="impression-count">{{ post.post_impressions }}</p>
            </a>
            
            <a href="{{ url_for('show_post', post_id=post.id) }}">
                <p>{{ post.created_at.strftime('%H:%M · %B %d, %Y') }} </p>
            </a>
        </div>
    </div>
    
</div>
</div>

<!-- End of Main Section     -->

{% endfor %}
{% else %}

<div class="user-post">
    <div class="content">
        <h3>No Posts</h3>
    </div>
</div>


{% endif %}


{% endblock %}        
