{% extends 'base.html' %}
{% block content %}

<h1><span class="material-icons-sharp">settings</span> Setting</h1>

<!-- Profile: username | bio | location | web -->
<div class="user-post main-bg-color setting-sec-height">
<div class="content setting-sec">
    <div>
        <span class="material-icons-sharp">person</span>
        <h3>Profile</h3>
        <p>Update your User Name, Bio, and Location.</p>
    </div>
    <h1><a href="{{url_for('edit_profile')}}"><button><span class="material-icons-sharp">arrow_forward_ios</span></button></a></h1>
   </div>
</div>

<!-- Birthday -->
<div class="user-post main-bg-color">
<div class="content setting-sec">
    <div>
        <span class="material-icons-sharp">cake</span> 
        <h3>Birthday</h3>
        <p>Add or modify your Birthday.</p>
    </div>
    
    <h2><a href="{{url_for('edit_birthday')}}"><button><span class="material-icons-sharp">arrow_forward_ios</span></button></a></h2>
</div>
</div>

<!-- Website URL -->
<div class="user-post main-bg-color">
    <div class="content setting-sec">
        <div>
            <span class="material-icons-sharp">add_link</span> 
            <h3>Website</h3>
            <p>Add or modify your website link.</p>
        </div>
        
        <h2><a href="{{url_for('edit_website_url')}}"><button><span class="material-icons-sharp">arrow_forward_ios</span></button></a></h2>
    </div>
    </div>

<!-- Profile Picture -->
<div class="user-post main-bg-color">
<div class="content setting-sec">
    <div>
        <span class="material-icons-sharp">portrait</span> 
        <h3>Profile Picture</h3>
        <p>Change your profile picture.</p>
    </div>
    <h2><a href="{{url_for('edit_profile_pic')}}"><button><span class="material-icons-sharp">arrow_forward_ios</span></button></a></h2>
</div>
</div>

<!-- Header Picture -->
<div class="user-post main-bg-color">
<div class="content setting-sec">
    <div>
        <span class="material-icons-sharp">image</span> 
        <h3>Header Picture</h3>
        <p>Customize your profile header.</p>
    </div>
    <h2><a href="{{url_for('edit_header_pic')}}"><button><span class="material-icons-sharp">arrow_forward_ios</span></button></a></h2>
</div>
</div>   


<!-- Dark/Light Mode Theme -->
<!-- <div class="user-post main-bg-color setting-sec-height">
    <div class="content setting-sec">
        <div>
            <span class="material-icons-sharp">theme</span>
            <h3>Theme</h3>
            <p>Update your Theme.</p>
        </div>
        <button id="dark-mode-toggle">Toggle Dark Mode</button>
    </div>
</div> -->



{% endblock %}